/**
 * FILENAME:    style.css
 * AUTHOR:      Isaac Streight
 * START DATE:  October 19th, 2016
 *
 * This file contains the styling for the lesson calendar web application.
 */


/* "Creating Grids" & "Switch Sets" loading indicator */
@-webkit-keyframes scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
}

/* Show scrollbars */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

input[type="text"] {
    color: black;
    width: 100%;

    padding: 8px;
    border: solid 1px #dcdcdc;
}

input[type="text"]:focus,
input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

html, body, .content, .ribbon, .modal {
    max-width: 100%;
    overflow-x: hidden;
}

/* Colour and size text in the main sections of the application */
.ribbon-section-description {
    color: #ccc;

    width: 27.5%;
}

.ribbon-section-explanation {
    color: #aaa;
    font-size: 14px;

    line-height: 20px;

    list-style-type: none;
}

.ribbon-section-footer {
    width: 100%;
    height: 50px;

    margin: 0 0 0 1.25%;

    line-height: 12px;
}

.ribbon-section-footer h2 {
    color: white;
}

.ribbon-section-footer p {
    color: #ddd;
}

.content-section-description {
    color: #444;

    width: 27.5%;
}

.content-section-explanation {
    color: #666;
    font-size: 14px;

    line-height: 20px;

    list-style-type: none;
    direction: rtl;
}

.content-section-footer {
    width: 100%;
    height: 50px;

    line-height: 12px;
}

.content-next-button {
    margin: -2.5% 0 0 100%;

    font-size: 120%
}

.is-left {
    text-align: left;
}

.is-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right
}

.table-odd {
    background-color: white;
    color: #2d3e50;
}

.table-odd:hover {
    background-color: lightgrey;
}

.table-even {
    background-color: #2d3e50;
    color: white;
}

.table-even:hover {
    background-color: #747484;
}

table {
    white-space: nowrap;
}

tr:hover .line {
    border-color: #cbcbcb !important;
}

th, td {
    text-align: right;
}

tbody td:first-child {
    text-align: left;
    font-weight: bold;
}

/* Centre table horizontally */
.pure-table {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    z-index: 10; /* Foreground */
}

/* Modal Content/Box */
.modal-content {
    background-color: #f0f0f0;
    margin: 7.5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid transparent;
    width: 75%; /* Could be more or less, depending on screen size */
}

/* Modal Header */
.modal-header {
    padding: 16px;
    background-color: #2d3e50;
    color: white;
    font-size: 1.5em;
    font-weight: bold;

    height: 64px;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    color: #2d3e50;
}

/* Modal Footer */
.modal-footer {
    padding: 16px;
    background-color: #2d3e50;
    color: white;
    font-size: 0.75em;
    text-align: right;

    height: 64px;
}

.remove-preference {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -1.25% -0.25% 0 0;
}

.remove-preference:hover {
    color: rgb(202, 60, 60);
}

.add-preference {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: -1.25% -0.25% 0 0;
}

.add-preference:hover {
    color: rgb(28, 184, 65);
}

.create-spinner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.create-spinner span {
    border-radius: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    -webkit-animation: scale 3s ease-out infinite;
}

.create-spinner span:nth-child(2) {
    -webkit-animation-delay: 2s;
}

.create-spinner span:nth-child(3) {
    -webkit-animation-delay: 1s;
}

.create-label {
    font-family: "Helvetica Neue";
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 7px;
}

.left-button {
    margin: 5% 0 0 40px;
}

.right-button {
    margin: 5% 40px 0 0;
}

#dynamicLanding, #dynamicAbout, #dynamicInstructors, #dynamicLessons, #dynamicPrivate, #dynamicGrid {
    height: 92vh;
}



/* HEADER */

#dynamicHeader a {
    text-transform: none;
    vertical-align: middle;
}

#dynamicHeader input[type="text"] {
    width: 132px;
    height: 27px;
}

#dynamicHeader ::-webkit-scrollbar {
    display: none;
}

#dynamicHeader .create-indicator {
    position: absolute;
    visibility: hidden;
    top: 15px;
    margin-left: 34%;
    color: #6FBEF3;
}

#dynamicGrid .create-label {
    font-size: 16px;
}

#dynamicHeader .create-spinner {
    height: 24px;
    width: 24px;
}

#dynamicHeader .create-spinner span {
    border: 3px solid #6FBEF3;
}

#dynamicHeader .header-input {
    padding: 8px 16px;

    display: inline;

    visibility: hidden;
}

#dynamicHeader .pure-menu-heading {
    padding: 8px 16px;
}

#dynamicHeader .pure-menu-scrollable ul {
    width: 28%;

    float: none;

    overflow: auto;
}

#dynamicHeader .pure-button {
    color: white;
    font-size: 12px;
}

#dynamicHeader .pure-button:hover,
#dynamicHeader .pure-button.hover {
    background-color: #1f8dd6;
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

#dynamicHeader .removable-header {
    color: rgb(223, 117, 20);
}



/* LANDING */

.splash-subhead {
    line-height: 24px;
}

/* Styles of rotating text */
.lowercase {
    text-transform: lowercase;
}

#dynamicLanding a {
    margin: 5% 0 0 0;
}



/* ABOUT */

.feature-description {
    padding: 0 12.5%;

    font-size: 14px;
}

#dynamicAbout {
    padding: 45px;
}

#dynamicAbout > div {
    width: 100%;
    height: 90%;
}

#dynamicAbout ul {
    margin: 7.5% 0 0 0;

    padding: 32px;

    width: 100%;

    color: #2d3e50;
    text-align: center;

    list-style-type: none;
}

#dynamicAbout ul li {
    width: 25%;

    display: inline-table;
    vertical-align: top;
}

#dynamicAbout ul img {
    width: 40%;
}

#dynamicAbout .content-section-description {
    font-size: 22px;

    line-height: 36px;
}

#dynamicAbout .content-section-explanation {
    margin: 0 0 0 40px;

    direction: ltr;
}



/* INSTRUCTOR */

.add {
    font-size: 12px;

    background-color: rgb(28, 184, 65);
}

.remove {
    font-size: 12px;

    background-color: rgb(202, 60, 60);
}

.remove-preference-even {
    color: lightgrey;
}

.remove-preference-odd {
    color: grey;
}

#dynamicInstructors {
    padding: 45px;
}

#dynamicInstructors > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#dynamicInstructors table {
    margin: -9.75% 0 0 27.5%;

    table-layout: fixed;
}

#dynamicInstructors th {
    width: 145px;
}

#dynamicInstructors .ribbon-section-footer {
    position: absolute;
    margin: auto auto auto 40px;
    bottom: 64px;

    display: none;
}

#dynamicInstructors .pure-button-primary {
    margin: -2.25% 0 0 85.2%;
}



/* INSTRUCTOR PREFERENCES */

#dynamicInstructorPreferences table {
    width: 80%;

    margin: 40px auto 24px auto;
}

#dynamicInstructorPreferences th {
    text-align: center;

    width: 150px;
}

#dynamicInstructorPreferences td {
    font-weight: normal;

    height: 44px;
}



/* LESSONS */

.warning-table {
    color: white;
    background-color: rgb(223, 117, 20) !important;
}

.error-cell {
    color: white;
    background-color: rgb(202, 60, 60) !important;
}

#dynamicLessons {
    padding: 45px;
}

#dynamicLessons > div {
    position: relative;
    width: 100%;
    height: 90%;
}

#dynamicLessons table {
    margin: 6.25% 0 0 5%;

    width: 65%;

    table-layout: fixed;
}

#dynamicLessons th {
    text-align: center;
}

#dynamicLessons td {
    font-weight: normal;
    text-align: left;
}

/* Places input field in-line with text of cell */
#dynamicLessons table input[type="text"] {
    width: 28px;
    height: 32px;

    float: right;

    text-align: right;
}

#dynamicLessons .content-section-description div {
    margin: 0.5% 40px 0 0;

    color: #1f8dd6;

    display: none;
}

#dynamicLessons .content-section-footer {
    position: absolute;
    margin: auto auto auto 40px;
    bottom: 55px;

    display: none;
}

#dynamicLessons .content-section-footer a {
    margin: -2.25% 0 0 85.2%;
}

#dynamicLessons .content-section-footer h2 {
    color: #2d3e50;
}

#dynamicLessons .content-section-footer p {
    color: #333333;
}



/* PRIVATE */

.menu-odd {
    color: #2d3e50;

    background-color: #f4f4f4;
}

.menu-even {
    color: white;

    background-color: #3a5068;
}

.menu-even:hover {
    background-color: #343444;
}

#dynamicPrivate {
    padding: 45px;
}

#dynamicPrivate > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#dynamicPrivate table {
    margin: -9.75% 0 0 27.5%;

    table-layout: fixed;
}

#dynamicPrivate th {
    width: 125px;
}

#dynamicPrivate .ribbon-section-footer {
    position: absolute;
    margin: auto auto auto 40px;
    bottom: 64px;

    display: none;
}

#dynamicPrivate .ribbon-section-footer a {
    margin: -2.25% 0 0 85.2%;
}



/* GRID */

.line {
    position: absolute;

    margin-top: -1.35em;

    height: 43px;
    width: 64px;
}

.line p {
    margin: 8px 12px;

    color: inherit !important;
}

.line-left {
    margin-left: -1em;

    border-right: 1px solid lightgrey;
}

.line-right {
    margin-left: 2.95em;

    border-left: 1px solid lightgrey;
}

.modal .line {
    height: 64px;
    margin-top: -1.775em;
}

.modal .line p {
    margin: 18px 6px;

    color: inherit !important;
}

.modal .line-left {
    margin-left: -1em;

    border-right: 1px solid lightgrey;
}

.modal .line-right {
    margin-left: 2.5em;

    border-left: 1px solid lightgrey;
}

.no-border {
    border: none !important;
}

.private-lesson-cell {
    color: white;
    background: #767676 !important;

    text-align: center;
}

.private-left {
    margin: -12px -16px;

    height: 0;

    color: white;
    background: linear-gradient(to right, #767676 50%, transparent 50%);

    text-align: left;
}

.private-right {
    margin: -12px -16px;

    height: 0;

    color: white;
    background: linear-gradient(to left, #767676 50%, transparent 50%);

    text-align: right;
}

.pure-menu-selected {
    color: #1f8dd6;
}

.create-error {
    color: rgb(202, 60, 60);
}

.create-error p {
    text-transform: none;
    font-size: 18px;
}

#dynamicGrid {
    padding: 45px;
}

#dynamicGrid input[type="text"] {
    margin: 0 20px;

    width: 72px;
    height: 32px;

    text-align: right;
}

#dynamicGrid p {
    color: #1f8dd6;
}

#dynamicGrid th {
    text-align: left;
}

#dynamicGrid div.pure-menu-heading {
    position: absolute;

    margin-left: 40px;
}

#dynamicGrid .create-indicator {
    position: absolute;
    visibility: hidden;
    margin-top: 80px;
    margin-left: 16%;
    color: #1f8dd6;
}

#dynamicGrid .create-label {
    font-size: 34px;
}

#dynamicGrid .create-spinner {
    height: 45px;
    width: 45px;
}

#dynamicGrid .create-spinner span {
    border: 3px solid #1f8dd6;
}

#dynamicGrid .pure-menu-heading {
    margin: -64px 0;
}

#dynamicGrid .pure-menu-horizontal:not(.pure-menu-scrollable) {
    margin: -5% 0 0 32.25%;
}

#dynamicGrid .pure-menu-scrollable {
    margin: 0 0 0 3.5%;
}

#dynamicGrid .pure-menu-scrollable ul {
    overflow: scroll;
}

#dynamicGrid .pure-menu-scrollable table {
    table-layout: fixed;
}

#dynamicGrid .pure-menu-scrollable th, #dynamicGrid .pure-menu-scrollable td {
    width: 128px;
    height: 40px;
}

#dynamicGrid .content-section-footer {
    position: absolute;

    margin: 0 0 5% 35%;

    bottom: 2%;

    display: none;
}

#dynamicGrid .modal-header a {
    font-size: 12px;
    font-weight: normal;

    float: right;
}

#dynamicGrid .modal-footer a {
    width: 95px;
}

#dynamicGrid .modal-body {
    padding: 16px;

    font-size: 18px;
}

#dynamicGrid .modal-body table {
    table-layout: fixed;
}

#dynamicGrid .modal-body th, #dynamicGrid .modal-body td {
    width: 128px;
    height: 64px;
}

#dynamicGrid .content-section-footer h2 {
    color: #2d3e50;
}

#dynamicGrid .content-section-footer p {
    color: #333333;
}



/* GRID CHECKLIST */

#dynamicGridChecklist div {
    position: absolute;
    margin: 0 0 0 3%;

    bottom: 4.5%;
}

#dynamicGridChecklist h3 {
    margin: 0 0 0 9%;
}

#dynamicGridChecklist table {
    margin: 5% 0 0 17%;

    table-layout: fixed;
}

#dynamicGridChecklist th, #dynamicGridChecklist td {
    width: 160px;
    height: 40px;
}



/* FOOTER */

#dynamicFooter div {
    height: 40px;

    font-size: 14px;
    line-height: 23px;
}

#dynamicFooter a {
    text-decoration: none;
    color: white;
}

#dynamicFooter p {
    margin: -48px 0;
    text-align: left;
}

#dynamicFooter ul {
    margin: -48px 0;
    text-align: right;

    list-style-type: none;
}
